.topnav {
    background-color: #171616;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #171616;
  }
  
  .topnav a.active {
    background-color: #02be3b;
    color: #171616;
  }